{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en-us">
<head>

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta charset="utf-8">

  <title>我的网站|首页</title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}

</head>

<body>


<nav class="navbar navbar-default navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">
        个人博客网站</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">首页</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-collapse-right">
        <li><a href="{% url 'blog_list' %}">博客列表</a></li>
      </ul>

      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
          欢迎, {{ user.username }}
        {% else %}
          <a href="{% url 'users:login' %}">登陆</a>
        {% endif %}
      </ul>

    </div>

  </div>
</nav>

<div class="container">

  <div class="page-header">
    {% block header %}{% endblock %}
  </div>
  <div>
    {% block content %}{% endblock %}
  </div>

</div>

</body>
</html>


